.header-button {
    margin-left: 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.header-button:hover {
    
    color: #FBE8A6;
}

.header-button:last-child {
    margin-right: 10px;
}
